/* Empty. Add your own CSS if you like */
.facebook-blue{
	background-color: #3B5998 !important;
	border-color: #3B5998 !important;
	color: white !important;
}

.googleplus-red{
	background-color: #dd4b39 !important;
	border-color: #dd4b39 !important;
	color: white !important;
}